.socials-icon-telegram[data-v-29e665f1] {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.socials-icon-telegram[data-v-29e665f1] svg {
  width: 100% !important;
  height: 100% !important;
}
.socials-icon-x[data-v-29e665f1] {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}
.socials-icon-x[data-v-29e665f1] svg {
  width: 100% !important;
  height: 100% !important;
}
